[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule ".config/awesome/bling"]
	path = .config/awesome/bling
	url = https://github.com/BlingCorp/bling.git
[submodule ".themes/yaru"]
	path = .themes/yaru
	url = https://github.com/Jannomag/Yaru-Colors
