[SddmGreeterTheme]
Name=Shk (Void)
Description=Dark & Minimalist (from stepanzubkov's where-is-my-sddm-theme)
Website=https://github.com/shkschneider/dotfiles
Author=shkschneider
Copyright=shkschneider, stepanzubkov
License=MIT
Version=2.0.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=shk-void
Theme-API=2.2
